{% extends 'base.html' %}
{% load static %}
{% block title %} Category_Blogs  {% endblock title %}

{% block maincontent %}
        

    <section class="blog-posts grid-system">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">

                {% for blog in page_obj %}
    

                <div class="col-lg-6">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="{{ blog.banner.url }}" alt="">
                    </div>
                    <div class="down-content">
                      <span>{{ blog.category }}</span>
                      <a href="{% url 'blog:blog_details' blog.slug %}"><h4>{{ blog.title }}</h4></a>
                      <ul class="post-info">
                        <li><a href="#">{{ blog.user.username }}</a></li>
                        <li><a href="#">{{ blog.created_date | date }}</a></li>
                        <li><a href="#">{{ blog.blog_comment.all.count }} Comments</a></li>
                      </ul>
                     <p>{{ blog.description | truncatewords:20 |safe }}</p>
                      <div class="post-options">
                        <div class="row">
                          <div class="col-lg-12">
                            <ul class="post-tags">
                              <li><i class="fa fa-tags"></i></li>
                              {% if blog.tags.all.count > 0 %}
                              
                              {% for tag in blog.tags.all %}
                           
                              <li><a href="#">{{ tag.title }}</a></li>
                              {% endfor %}
                              {% else  %}
                                None
                              {% endif %}
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                {% endfor %}
               
                  <!-- Pagination -->

                
                  <nav  aria-label="Page navigation">
                    <ul class="pagination mb-0">
                      
                      {% if page_obj.has_previous %}
                      <li class="page-item mr-auto">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="d-none d-sm-inline-block ml-1">Prev</span>
                        </a>
                      </li>
                      
                      
                      
                      {% endif %}
                      
                      
                      {% load l10n %}           
                      {% for post in page_obj.paginator.page_range %}
                      
                      {% if page_obj.number == post  %}
                      <li class="page-item active">
                        <a class="page-link" href="?page={{ post }}">{{ post | localize }}</a>
                      </li>
                      {% else %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{ post }}">{{ post }}</a>
                      </li>
        
                      {% endif %}
                      {% endfor %}
                      
                      
                      {% if page_obj.has_next %}
                      <li class="page-item ml-auto">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                          <span class="d-none d-sm-inline-block mr-1">Next</span>
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                      
                      
                      {% endif %}
                    
                    
                    </ul>
                  </nav>
                
                  <!-- End Pagination -->
                
                
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">
                <div class="col-lg-12">
                  <div class="sidebar-item recent-posts sidebar-item search">
                    <div class="sidebar-heading">
                      <h2>Recent Posts</h2>
                    </div>
                    <div class="content">
                      <ul>

                        {% for blog in recent_post %}
                        <li><a href="{% url 'blog:blog_details' blog.slug %}">
                          <h5>{{ blog.title }}</h5>
                          <span>{{ blog.created_date | date }}</span>
                        </a></li>
                       {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item categories">
                    <div class="sidebar-heading">
                      <h2>Categories</h2>
                    </div>
                    <div class="content">
                      <ul>
                        {% for category in categories %}
                            
                        
                        <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item tags">
                    <div class="sidebar-heading">
                      <h2>Tag Clouds</h2>
                    </div>
                    <div class="content">
            
                      <ul>
                        {% for tag in tags|slice:"6" %}
                            
                        
                        <li><a href="{{ tag.get_tags_absolute_url }}">{{ tag.title }}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock maincontent %}
